code[data-lang="sspec"]{
    .hljs-keyword{
        font-weight: bold;
        color: #6c22c7;
    }
    .hljs-type{
        color: #14a614;
    }
    .hljs-val{
        color: #219a7a;
    }
    .hljs-number{
        color: purple;
    }
    .hljs-variable{
        color: #219a7a;
    }
    .hljs-fun{
        color: #e88300;
    }
    .hljs-comment{
        color: #339c3c;
    }
    .hljs-punctuation{
        color: red;
    }
}
